<h1>New channel</h1>

<%= form_for @channel, url: channels_path do |f| %>
  <%= f.label :url, 'Channel URL' %>
  <br />
  <%= f.text_field :url %>
  <br />
  <%= f.submit 'Convert to podcast' %>
<% end %>
