.jumbotron
  .youtube-to-podcast-banner
    %i.fa.fa-youtube{"aria-hidden" => "true"}
    →
    %i.fa.fa-podcast{"aria-hidden" => "true"}
  %h1 Listen to Youtube channel
  Simple and free service that lets you listen to any YouTube channels in podcast format.
  %p
  = form_for @channel, url: channels_path, html: { class: 'form' } do |f|
    = f.text_field :url, type: :url, class: 'form-control input-lg', placeholder: 'Paste Youtube channel/playlist URL here'
    %br/
    = f.submit 'Convert to podcast', class: 'btn btn-primary btn-lg'
