---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=AIzaSyD5F8jWLoWYO0qQGKChQ5uiTw1EvRO3N9w&maxResults=50&part=snippet,status&playlistId=PLKxLRVPSSlq_vwA7WLgNjw30ZZiDRdVK2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "youtube.playlistItem",
            "reason": "playlistNotFound",
            "message": "The playlist identified with the requests \u003ccode\u003eplaylistId\u003c/code\u003e parameter cannot be found.",
            "locationType": "parameter",
            "location": "playlistId"
           }
          ],
          "code": 404,
          "message": "The playlist identified with the requests \u003ccode\u003eplaylistId\u003c/code\u003e parameter cannot be found."
         }
        }
  recorded_at: Wed, 30 Jan 2019 08:13:52 GMT
recorded_with: VCR 4.0.0
