---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?forUsername=TheKiberpop&key=AIzaSyD5F8jWLoWYO0qQGKChQ5uiTw1EvRO3N9w&part=id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key expired. Please renew the API key.",
            "errors": [
              {
                "message": "API key expired. Please renew the API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Sat, 04 Feb 2023 10:10:58 GMT
recorded_with: VCR 6.1.0
